.logo {
  width: 70px;
}

.quote.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  margin-left: 20px;
}
.quote {
  font-weight: bold;
  font-family: "Cinzel Decorative", cursive;
}

.author {
  margin-left: 20px;
}

.house {
  margin-left: 20px;
}

.btn {
  margin-left: 120px;
  font-family: "Cinzel Decorative", cursive;
}

.author-title {
  font-weight: bold;
  font-family: "Cinzel Decorative", cursive;
}

.house-title {
  font-weight: bold;
  font-family: "Cinzel Decorative", cursive;
}
