.new__fill--subject {
  margin-right: 10px;
  margin-left: 20px;
  border: solid 3px red;
}

.input-number {
  width: 50px;
  margin-left: 20px;
}

.input-text {
  width: 100px;
  margin-bottom: 20px;
}
